body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  height: 100vh;
  background: #002644;
}
.container {
  padding-top: 10px;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  color: #72c3e2;
}

.sub {
  color: #356975;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 485px;
  margin-right: 1%;
  grid-gap: 15px;
  padding: 15px 0px 30px;
}

.white {
  color: #ffffffa6;
}

.center {
  text-align: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 30%;
  margin: auto;
  grid-gap: 20px;
}
